<script lang="ts">
  import {Icon} from "sveltestrap"
</script>

This project is a grateful fork of <https://github.com/mathiasandresen/rpg-cards>, created by Mathias Andresen. Huge thanks to Mathias and to the projects that paved the way, including <https://github.com/mephitrpg/rpg-cards> and the original <https://github.com/crobi/rpg-cards>, for making this tool possible.

See the [<Icon name="file-earmark-text" /> Documentation](docs)
